<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Image Gallery Template</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse&nbsp;<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="#">Cars</a></li>
							<li><a href="#">Nature</a></li>
							<li><a href="#">Architecture</a></li>
							<li class="divider"></li>
							<li><a href="#">See More...</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="row">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Browse</a></li>
							<li class="active">Cars</li>
						</ol>
					</div>
					<div class="row">
						<h4>
							Color <span class="badge pull-right">33</span>
						</h4>
						<ul class="nav nav-pills nav-stacked">
							<li class="active">
								<a href="#">
									Blue <span class="badge pull-right">10</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									Black <span class="badge pull-right">9</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									Gray <span class="badge pull-right">8</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									White <span class="badge pull-right">6</span>
								</a>
							</li>
							<li class="active disabled">
								<a href="#">
									Red <span class="badge pull-right">0</span>									
								</a>
							</li>
						</ul>
						<h4>
							Make <span class="badge pull-right">33</span>
						</h4>
						<ul class="nav nav-pills nav-stacked">
							<li class="active">
								<a href="#">
									Volkswagen <span class="badge pull-right">19</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									Ford <span class="badge pull-right">8</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									Audi <span class="badge pull-right">6</span>
								</a>
							</li>
							<li class="active disabled">
								<a href="#">
									Mazda <span class="badge pull-right">0</span>									
								</a>
							</li>
						</ul>							
					</div>
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/171x180" alt="...">
							</a>
						</div>
					</div>
					<ul class="pager">
						<li class="previous"><a href="#">&larr; Older</a></li>
						<li class="next"><a href="#">Newer &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../js/bootstrap.js"></script>
	</body>
</html>