<html>
<head>
<meta charset="utf-8">
<title>Bootstrap User Profile Template</title>
<!-- Bootstrap CSS file-->
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/userprofile.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">User</a></li>
					<li class="active">User Profile</li>
				</ol>
			</div>
			<div class="col-lg-12">
				<hr />
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">User profile</h4>
		      </div>
		      <div class="modal-body">
		        <table>
		          <tr><td><h4><b>Information</b></h4></td></tr>
		          <tr>
		            <td>Alias</td>
		            <td id="aliaspopout">123</td>
		          </tr>
		          <tr>
		            <td>Email</td>
		            <td id="emailpopout"></td>
		          </tr>
		          <tr>
		            <td>Office</td>
		            <td id="officepopout"></td>
		          </tr>
		          <tr>
		            <td>Phone</td>
		            <td id="phonepopout"></td>
		          </tr>
              <tr><td><h4><b>Details</b></h4></td></tr>
              <tr>
                <td>First Name</td>
                <td id="firstnamepopout"></td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td id="lastnamepopout"></td>
              </tr>
              <tr><td><h4><b>Organization</b></h4></td></tr>
              <tr>
                <td>Job title</td>
                <td id="jobtitlepopout"></td>
              </tr>
              <tr>
                <td>Department</td>
                <td id="departmentpopout"></td>
              </tr>
              <tr>
                <td>Company</td>
                <td id="companypopout"></td>
              </tr>
              <tr>
                <td>Management</td>
                <td id="managementpopout"></td>
              </tr>
              <tr><td><h4><b>Address</b></h4></td></tr>
              <tr>
                <td>Street</td>
                <td id="streetpopout"></td>
              </tr>
              <tr>
                <td>City</td>
                <td id="citypopout"></td>
              </tr>
              <tr>
                <td>State/Province</td>
                <td id="statepopout"></td>
              </tr>
              <tr>
                <td>Postal code</td>
                <td id="postalcodepopout"></td>
              </tr>
              <tr>
                <td>Country/Region</td>
                <td id="countrypopout"></td>
              </tr>
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<div class="row">
			<div class="col-lg-3 example-block">
				<div class="usernav">
					<img src="../img/default.png" height="100" width="100" />
					<div>
						<a style="cursor:pointer;" onclick="filloutdata()"><small data-toggle="modal" data-target="#myModal">User name</small></a>
					</div>
					<div>
						<small>Developer, Application Development</small>
					</div>
					<div>
						<small>Catalyst IT Services</small>
					</div>
					<br />
					<ul class="nav nav-tabs nav-stacked" id="myTab"
						style="padding-right: 0px;">
						<li class="active"><a href="#information" data-toggle="tab">Information</a></li>
						<li><a href="#details" data-toggle="tab" style="FONT-SIZE: small;">Details</a></li>
						<li><a href="#organization" data-toggle="tab">Organization</a></li>
						<li><a href="#address" data-toggle="tab">Address</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-6 example-block">
				<h3>
					<strong>User Name's Profile</strong>
				</h3>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="information">
						<div class="panel panel-default">
							<div class="panel-body" >
							  <p class="editbutton"><button type="button" style="float:right;" class="btn btn-primary btn-sm" onclick="editData()" >Edit</button></p>
								<h4><b>Information</b></h4>
								<form>
								<table>
									<tr>
										<td >Alias</td>
										<td id="alias">xx xxx</td>
									</tr>
									<tr>
										<td>E-mail</td>
										<td id="email">xxx@catalystitserices.com</td>
									</tr>
									<tr>
										<td>Office</td>
										<td id="office">Baltomore</td>
									</tr>
									<tr>
										<td>Phone</td>
										<td id="phone">410-385-2500</td>
									</tr>
								</table>
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="details">
						<div class="panel panel-default">
							<div class="panel-body">
							  <button type="button" style="float:right;" class="btn btn-primary btn-sm" >Edit</button>
								<h4><b>Details</b></h4>
								<table>
									<tr>
										<td>First Name</td>
										<td id="firstname">xxx</td>
									</tr>
									<tr>
										<td>Last Name</td>
										<td id="lastname">xxx</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="organization">
						<div class="panel panel-default">
							<div class="panel-body">
							  <button type="button" style="float:right;" class="btn btn-primary btn-sm" >Edit</button>
								<h4><b>Organization</b></h4>
								<table>
									<tr>
										<td>Job title</td>
										<td id="jobtitle">Developer</td>
									</tr>
									<tr>
										<td>Department</td>
										<td id="department">Application Development</td>
									</tr>
									<tr>
										<td>Company</td>
										<td id="company">Catalyst IT Services</td>
									</tr>
									<tr>
										<td>Management</td>
										<td id="management">xxx</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="address">
						<div class="panel panel-default">
							<div class="panel-body">
							  <button type="button" style="float:right;" class="btn btn-primary btn-sm" >Edit</button>
								<h4><b>Address</b></h4>
								<table>
									<tr>
										<td>Street</td>
										<td id="street">502 South Sharp Street</td>
									</tr>
									<tr>
										<td>City</td>
										<td id="city">Baltomroe</td>
									</tr>
									<tr>
										<td>State/Province</td>
										<td id="state">Maryland</td>
									</tr>
									<tr>
										<td>Postal code</td>
										<td id="postalcode">21201</td>
									</tr>
									<tr>
										<td>Country/Region</td>
										<td id="country">United States</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 example-block">
				<div class="panel panel-default">
					<div style="margin-top:10px;">&nbsp;&nbsp;&nbsp;Favorite Items</div>
					<div class="panel-body">
						<div>&nbsp;&nbsp;&nbsp;<a href=#>Home</a></div>
						<div>&nbsp;&nbsp;&nbsp;<a href=#>User</a></div>
						<div>&nbsp;&nbsp;&nbsp;<a href=#>Gallery</a></div>
				  </div>
				</div>
				
			</div>

		</div>

	</div>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/userprofile.js"></script>
</body>

</html>